.mt-8rem {
    margin-top: 8rem;
}

.p-8rem {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.modal-color {
    background-color: #289BDE;
}

.carousel-item>img {
    height: 584px;
    object-fit: cover;
    object-position: center;
}

.explore-bg {
    background-color: #F4FAFD;
}